{{!--
required fields:
title: string
optional fields:
containerClasses: string
description: string
image:
  url: string
  width: number
  height: number
--}}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#ff9600">
<title>{{title}}</title>
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{#if description}}{{description}}{{else}}We help the brightest students find software engineering internships at London's best startups. Apply now!{{/if}}">
<meta name="description" content="{{#if description}}{{description}}{{else}}We help the brightest students find software engineering internships at London's best startups. Apply now!{{/if}}">
<meta property="og:image" content="{{#if image.url}}{{image.url}}{{else}}https://hackcampus.io/images/cover-dark.png{{/if}}">
<meta property="og:image:width" content="{{#if image.width}}{{image.width}}{{else}}1648{{/if}}">
<meta property="og:image:height" content="{{#if image.height}}{{image.height}}{{else}}626{{/if}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <a id="hackcampus-letters" class="navbar-brand" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="menu" class="collapse navbar-collapse">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link highlight" href="https://apply.hackcampus.io/">APPLY</a>
      <a class="nav-item nav-link" href="/faq">FAQ</a>
      <a class="nav-item nav-link" href="/static/internship-programme-2018.pdf">FOR COMPANIES</a>
    </div>
  </div>
</nav>
<div class="{{containerClasses}}">
{{content}}
</div>
<div class="footer section orange">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Handy links</h4>
        <p><a href="https://apply.hackcampus.io/">Intern application form</a></p>
        <p><a href="/faq">FAQ</a></p>
        <p><a href="/static/internship-programme-2018.pdf">Fact sheet for companies</a></p>
      </div>
      <div class="col-md-4 mt-4 mt-sm-0">
        <h4>Open source</h4>
        <p>View the source on <a href="https://github.com/hackcampus/website" target="_blank">GitHub</a>.</p>
      </div>
      <div class="col-md-4 mt-4 mt-sm-0">
        <h4>Get in touch</h4>
        <p><a href="https://facebook.com/hackcampus" target="_blank">Facebook</a></p>
        <p><a href="https://twitter.com/hackcampus" target="_blank">Twitter</a></p>
        <p><a href="mailto:contact@hackcampus.io">contact@hackcampus.io</a></p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script>WebFont.load({google:{families:['Roboto:300,700','Roboto Mono:300,400,700']}});</script>
<script src="/vendor.js"></script>
<script src="/app.js"></script>
<script>require('initialize')</script>
</body>
</html>
